contextlib2==0.5.5
grpcio==1.26.0
grpcio-tools==1.26.0
git+https://github.com/schmidtbri/ml-model-abc-improvements#egg=iris_model
Jinja2==2.11.3
joblib==1.2.0
MarkupSafe==1.1.1
numpy==1.18.1
protobuf==3.11.2
schema==0.7.0
scikit-learn==0.21.0
scipy==1.4.1
six==1.13.0
